
    :root {
      --black:#1c1a1f;
      --grey:#838a9a;
      --blue:#505b71;
      --lgbrown:#625b55;
      --drkbrwn:#3f3a37;
      --yellow:#E8C547;
      --green:#00A878;
      --white:#EFF1ED;
      --red:#DA2C38;

      }




* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   

}

.body{

}
.container {
    display: grid;
    color: var(--main-light);
    grid-template-columns: 1fr 1fr;
    background-color: var(--grey);
    height: 100vh;
}


nav {
    width: 100%;
    
    padding-left: 30px;
    padding-right: 10px;
    min-height: 70px;
    background-color: var(--lgbrown);
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--lgbrown);
  }
  
  
  .nav-links {
      display: flex;
    list-style: none;
    background-color: var(--lgbrown);
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--lgbrown);
  }

  .nav-item a:hover {
      color: var(--green);
  }




  @media only screen and (max-width: 600px) {
.nav-links{
    display: flex;
    flex-direction: column;
    background-color: var(--lgbrown);
    padding: 0;
    line-height: 2px;
  
}
.nav-item a {

    font-size: 0.9rem;
 
  }

  }