/* Global Color Pallete */
    :root {

      /* Solid Colors */
      --black:#1c1a1f;
      --grey:#838a9a;
      --blue:#505b71;
      --lgbrown:#625b55;
      --drkbrwn:#3f3a37;
      --yellow:#E8C547;
      --green:#00A878;
      --white:#EFF1ED;
      --red:#DA2C38;
      
      /* Colors with opacity */
      --OPblack:#1c1a1fad;
      --OPgrey:#838a9a9a;
      --OPblue:#505b71;
      --OPdrkbrwn:#3e3f379d;
      --OPlgbrown:#625b55da;
      --OPyellow:#E8C547;
      --OPgreen:#00A878;
      --OPwhite: rgba(239, 241, 237, 0.637);
      --OPred:#DA2C38;
      }





/*Global Sizing Fixes */



* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white);
}


/*Containers - General Layout */



.container {
    display: grid;
    color: var(--main-light);
    grid-template-columns: 2fr 1fr;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
 
}



/* Navigation Bar */



nav {
    width: 100%;
    
    padding-left: 30px;
    padding-right: 10px;
    min-height: 70px;
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--OPlgbrown);
  }
  
  
  .nav-links {
      display: flex;
    list-style: none;
  
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
 
  }

  .nav-item a:hover {
      color: var(--green);
  }
  @media only screen and (max-width: 600px) {
    .nav-links{
        display: flex;
        flex-direction: column;
        background-color: var(--OPlgbrown);
        padding: 0;
        line-height: 2px;
      
    }
    .nav-item a {
    
        font-size: 0.9rem;
     
      }
    
      }


  /* Info Card */


.card {
  border: 2px var(--black) solid;
  margin: 20px;
  max-width: 320px;
  border-radius: 5px;
  background-color: var(--OPdrkbrwn);

  
}

.card-title{
  
  height: 30px;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  padding: 2px;
  margin: 2px;  
}

.card-text {
  background-color: var(--OPwhite);
  padding: 10px;
  text-align: center;
}
.links {
  background-color: var(--OPwhite);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  color: var(--drkbrwn);
  border-top: 2px var(--black) solid;
}

.social {
  color: var(--drkbrwn);
  opacity: .5;
}

.social:hover {
  color: var(--drkbrwn);
  opacity: .9;
}

